<%- include('./partials/head') %>

<main>
    <section class="article-detail">


        <div class="post">
            <form action="/article/<%=article.slug%>" method="post">
                <input type="hidden" name="slug" value="<%-article.slug%>">
                <label for="share"># keer geliked</label>
                <button type="submit" id="share"><span>like dit artikel!</span></button>
            </form>
        </div>



        <h1><%-article.title.rendered%></h1>
        <img src="<%-article.jetpack_featured_media_url%>" alt="voorpagina afbeelding">
        <div class="article-detail_datetype">
            <a href="">vacatures</a>
            <p class="article-detail_time">11 maart 2024, 09:00</p>
        </div>
        <p class="article-detail_commercial">
            Ben je taalvaardig? Heb je affiniteit met de media en journalistiek? Wil je aspirerende journalisten
            helpen beter te worden? Dan zoekt Red Pers jou, als eindredacteur (x/v/m).
        </p>

        <section class="article-detail_author">
            <section>
            <h2><span class="article-detail_author_type">Auteur:</span> <%=article.yoast_head_json.author%></h2>
            <img src="https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.jpg?s=612x612&w=0&k=20&c=QjebAlXBgee05B3rcLDAtOaMtmdLjtZ5Yg9IJoiy-VY=">
            </section>
            <section>
                <h2><span class="article-detail_author_type">Leestijd:</span> < 3 min</h2>
            </section>
        </section>
        <section class="article-detail_content">
            <%-article.content.rendered%>
        </section>

    </section>
</main>


<%- include('./partials/foot') %>
